<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>學術部 | 中央資管系學會</title>
  <link href="stylesheets/index.css" rel="stylesheet">
  

</head>

<body>
  <div id="top_photo">
    <img src="images/20170523_222304555.png" width="100%">
  </div>
  <div id="background">
    <img src="images/2011060408185658.jpg"  width="100%" height="100%">
  </div>
  <div id="bottom">
  </div>
  <div id="title">
  	<p>學術部 | <span>中央資管系學會</span></p>
  </div>
  <div id="icon_function">
  	  <a id="logo_MIS">
  	    <img src="images/misacad.svg" title="學術部首頁"/><br/>
  	  </a>
  	  <a id="icon_search">
        <img src="images/search.svg" title="搜尋"/><br/>
  	  </a>
      <a id="icon_speech">
        <img src="images/speech.svg" title="演講資訊"/><br/>
      </a>
      <a id="icon_enroll">
    	<img src="images/enroll.svg" title="報名演講"/><br/>
      </a>
      <a id="icon_drawLots" href="\draw">
        <img src="images/drawLots.svg" title="直屬查詢"/><br/>
      </a>
      <a id="icon_contactUs" href="http://misacad-166416.appspot.com/03.html" target="_blank">
  	    <img src="images/contactUs.svg" title="聯絡我們"/><br/>
      </a>
      <a id="icon_NCU" href="http://www.ncu.edu.tw/">
   	    <img src="images/NCU-Logo.svg" title="中大首頁"/><br/>
      </a>
      <a id="icon_MIS" href="http://im.mgt.ncu.edu.tw/index/main.php">
  	    <img src="images/MIS.svg" title="中央資管首頁"/><br/>
      </a>
  </div>
  <div id="info">
    <div class="speech_" id="left">
      <div  class="info_x" id="info_left"></div>
      <div class="info_x_in" id="info_left_in">
      	<div class="speech_name">
      		<p>演講標題</p>
      	</div>
      </div>
    </div>
    <div class="speech_" id="mid">
      <div class="info_x" id="info_mid"></div>
      <div class="info_x_in" id="info_mid_in">
      	<div class="speech_name">
      		<p>演講標題</p>
      	</div>
      </div>
    </div>
    <div class="speech_" id="right">
      <div class="info_x" id="info_right"></div>
      <div class="info_x_in" id="info_right_in">
      	<div class="speech_name">
      		<p>演講標題</p>
      	</div>
      </div>
    </div>
  </div>
  <div id="slider">
  	<div id="explain">
  	  <div><p>學術部首頁</p><br/></div>
  	  <div><p>搜尋</p><br/></div>
 	  <div><p>演講資訊</p><br/></div>
 	  <div><p>報名演講</p><br/></div>
 	  <div><a href="\draw">直屬查詢</a><br/></div>
 	  <div><p>聯絡我們</p><br/></div>
  	  <div><p>中大首頁</p><br/></div>
      <div><p>中央資管首頁</p><br/></div>
  	</div>
  </div>
  
    
</body>
</html>
