<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>直屬查詢 | 中央資管學術部</title>
	<link href="/stylesheets/resultcss.css" rel="stylesheet">
	<script type='text/javascript' src='https://code.jquery.com/jquery-1.9.1.min.js'></script>
	<script type='text/javascript' src='./javascripts/slider.js'></script>
</head>
<body>
	<div id="background">
	<img src="./images/background.jpg" height="100%" width="100%">
</div>
<div id="top_photo">
    <img src="./images/power-of-words.png" width="100%" >
    </div>
<div id="top_icon">
	<a>
		<span>直屬 | </span>查詢系統
	</a>
</div>
<div id="result">
	<div id="search">
    <div>輸入資料如下:</div>
		<div id="search_id"><%= id %></div>
		<div id="search_name"><%= name %></div>
    <div>查詢中...</div>
	</div>
<%= console.log(id)%>
	<script type="text/javascript" src='./javascripts/result.js'></script>
</div>


<div id="slider">
 		<div id="icon_function">
  	<a id="logo_MIS">
  	M<br><br>
  	</a>
  	<a id="icon_search">
    	<img src="./images/05.png"><br/>
  	</a>
    <a id="icon_speech">
      <img src="./images/03.png"><br/>
    </a>
    <a id="icon_enroll">
    	<img src="./images/06.png"><br/>
    </a>
      <a id="icon_drawLots">
        <img src="./images/01.png"><br/>
      </a>
      <a id="icon_contactUs" href="http://misacad-166416.appspot.com/03.html" target="_blank">
  	    <img src="./images/02.png"><br/>
      </a>
      <a id="icon_NCU" href="http://www.ncu.edu.tw/">
   	    <img src="./images/04.png"><br/>
      </a>
    <a id="icon_MIS" href="http://im.mgt.ncu.edu.tw/index/main.php">
  	  <p>MIS</p><br/>
    </a>  
  </div>
</div> 
</body>
</html>